{% macro render_windows(version) %}
  {% set download_prefix = '/dist/torbrowser/' + version + '/' %}
  {% set download_link_64 = download_prefix + 'torbrowser-install-win64-' + version + '_ALL.exe' %}
  {% set download_link_32 = download_prefix + 'torbrowser-install-' + version + '_ALL.exe' %}
  {% set sig_link_64 = download_link_64 + '.asc' %}
  {% set sig_link_32 = download_link_32 + '.asc' %}

  <a class="downloadLink" href="{{ download_link_32 }}">32-bit</a> (<a href="{{ sig_link_32 }}">sig</a>) / <a href="{{ download_link_64 }}">64-bit</a> (<a href="{{ sig_link_64 }}">sig<a/>)
{% endmacro %}

{% macro render_mac(version) %}
  {% set download_prefix = '/dist/torbrowser/' + version + '/' %}
  {% set download_link = download_prefix + 'TorBrowser-' + version + '-macos' + '_ALL.dmg' %}
  {% set sig_link = download_link + '.asc' %}

  <a class="downloadLink" href="{{ download_link }}">64-bit</a> (<a href="{{ sig_link }}">sig</a>)
{% endmacro %}

{% macro render_linux(version) %}
  {% set download_prefix = '/dist/torbrowser/' + version + '/' %}
  {% set download_link_64 = download_prefix + 'tor-browser-linux64-' + version + '_ALL.tar.xz' %}
  {% set download_link_32 = download_prefix + 'tor-browser-linux32-' + version + '_ALL.tar.xz' %}
  {% set sig_link_64 = download_link_64 + '.asc' %}
  {% set sig_link_32 = download_link_32 + '.asc' %}

  <a class="downloadLink" href="{{ download_link_32 }}">32-bit</a> (<a href="{{ sig_link_32 }}">sig</a>) / <a href="{{ download_link_64 }}">64-bit</a> (<a href="{{ sig_link_64 }}">sig<a/>)
{% endmacro %}

{% macro render_android(version, arch) %}
  {% set download_link = 'https://dist.torproject.org/torbrowser/' + version + '/' + 'tor-browser-' + version + '-android-' + arch + '-multi.apk' %}
  {% set sig_link = download_link + '.asc' %}

  <a href="{{ download_link }}">{{ arch }}</a> (<a href="{{ sig_link }}">sig</a>)
{% endmacro %}

{% macro render_fdroid() %}
  <small class="badge-pill badge-dark mx-1 nick">S00N</small>
{% endmacro %}

{% macro render_onion_browser() %}
  <a class="mx-auto" href=""><u>Onion Browser.</u></a>
{% endmacro %}

{% macro render_tor_browser_manual() %}
<a class="mx-auto" href="https://tb-manual.torproject.org" target="_blank"><u>{{ _('Tor Browser manual') }}</u></a>
{% endmacro %}

{% macro render_tor_browser_blog_post() %}
<a class="mx-auto" href="https://blog.torproject.org/new-release-tor-browser-906" target="_blank"><u>{{ _('blog post') }}</u></a>
{% endmacro %}

{% macro render_tor_expert_bundle(version, tor_version, platform, arch) %}
  {% set download_prefix = 'https://archive.torproject.org/tor-package-archive/torbrowser/' + version + '/' %}
  {% set download_link = download_prefix + 'tor-expert-bundle-' + version + '-' + platform + '-' + arch + '.tar.gz' %}
  {% set sig_link = download_link + '.asc' %}

  <a class="downloadLink" href="{{ download_link }}">{{ version }} (tor {{ tor_version }})</a> (<a href="{{ sig_link }}">sig</a>)
{% endmacro %}
